<div style="text-align: center;">
    <h1>Routing and Navigation</h1>
</div>
<nav>
    <a routerLink='/departments' routerLinkActive='active'>Departments</a>
    <a routerLink='/employees' routerLinkActive='active'>Employees</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-revision1></app-revision1> -->
<!-- <app-arrow-functions></app-arrow-functions> -->
<!-- <app-temp-ref></app-temp-ref> -->
<!-- <app-course></app-course> -->
<!-- <app-async-pipe-demo></app-async-pipe-demo> -->
<!-- <app-property-binding-example01></app-property-binding-example01> -->
<!-- <app-class-binding-example></app-class-binding-example> -->
<!-- <app-data-binding-example01></app-data-binding-example01> -->
<!-- <app-style-bining-example></app-style-bining-example> -->
<!-- <app-template-reference-variable-example></app-template-reference-variable-example> -->
<!-- <app-ng-if-else-example></app-ng-if-else-example> -->
<!-- <app-ng-switch-directive-example></app-ng-switch-directive-example> -->
<!-- <app-ng-for-directive-example></app-ng-for-directive-example> -->
<!-- <app-child [parentData]="name"></app-child> -->
<!-- <app-myparent></app-myparent>
<app-mychild></app-mychild> -->
<!-- <app-builtin-pipes></app-builtin-pipes> -->
<!-- <app-static-emp-list></app-static-emp-list> -->
